{% extends "base.html" %}
{% block content %}
    <h1>Willkommen auf ezHydro, unserer Seite für Online-Training!</h1>
    <p class="important" style="margin-bottom:20cm">
      Hier geht es um das Lösen einfacher hydraulische Probleme und wir haben diese Seite speziell für dich erstellt, um dein Verständnis für dieses Thema auf interaktive Weise zu verbessern. <br> 
	  Egal, ob du ein Anfänger bist oder bereits über Vorkenntnisse verfügst, wir haben für jeden das passende Material. Mit unseren interaktiven Lernmethoden wirst du in der Lage sein, neue Konzepte auf einfache und verständliche Weise zu erfassen. Wir sind hier, um dich zu unterstützen und dir dabei zu helfen, dein Wissen und deine Fähigkeiten zu verbessern. <br> <br> 
	  Dein IWB-Team
    </p>
{% endblock %}