{% extends "problem.html" %}

{% block title %}Fließwechsel{% endblock %}

{% block description %}

Ändert sich der Fließzustand in einem Gerinne spricht man von einem Fließwechsel. Geschiet dieser Wechsel von schießenden auf strömenden Abfluss, findet ein Wechselsprung statt. Hierbei ist vorallem die Lage des Wechselsprungs interessant, da diese sowohl im schießenden als auch im strömenden Bereich liegen kann.

Welche Art von Fließwechsel auftritt hängt - bei gleichbleibenden Abfluss - von den Sohlgefällen \(I_{so,1}, I_{so,2}\) und den Rauhigkeiten \(k_{st,1}, k_{st,2}\) ab.  

{% endblock %}

{% block solution %}
{% include "problems/free_surface_02_solution.html" ignore missing with context %}
{% endblock %}
