{% extends "problem.html" %}

{% block title %}Fließwechsel{% endblock %}

{% block description %}
(\(k_{st,1}=k_{st,2}, \, i_1=i_2\))

<div class="SMALLPLOT">
  <figure class="figure">
    <img src="{{ url_for('static', filename='images/free_surface_01.png') }}"
         class="figure-img img-fluid rounded"
         alt="setting">
    <figcaption class="figure-caption">Flussbett mit unterschiedlicher Rauhigkeit</figcaption>
  </figure>
</div>

\(q\) \(w\).
<div class="FORMULAR3LINES">
	$$
	\begin{align}
	q &= 150\:\mathrm{m^3/s} \\
	w &= 30\:\mathrm{m} \\
	\end{align}
	$$
</div>
{% endblock %}

{% block solution %}
{% include "problems/free_surface_02_solution.html" ignore missing with context %}
{% endblock %}
