{% extends "problem.html" %}

{% block title %}Rohrsystem mit Druckabfluss{% endblock %}
{% block description %}
<div class="container" align="center">
  <figure class="figure">
    <img src="{{ url_for('static', filename='images/pressure_pipe_01.png') }}"
         class="figure-img img-fluid rounded"
         alt="setting">
    <figcaption class="figure-caption">Speicher</figcaption>
  </figure>
</div>
 Dieses Problem beschäftigt sich erneut mit dem Druckabfluss zwischen zwei miteinander verbundenen Behältern, hier werden jedoch alleine die Rohurchmesser der Rohrabschnitte variabel dargestellt. Wie verändert sich die Druckline im Vergleich zum Rohrdurchmesser? <br>
 Auch hier werden der Rauheitsbeiwert des Rohrs \(k\), die kinematische Viskosität des Wassers \(\nu\) und der Einlaufwiderstandsbeiwert \(\zeta_{Einlauf}\) konstant gehalten.
{% endblock %}
{% block solution %}
{% include "problems/pressure_pipe_01_solution.html" ignore missing with context %}
{% endblock %}
