{% extends "problem.html" %}

{% block title %}Pressure Pipe{% endblock %}

{% block description %}
Given is a pipe system as shown below.

<div class="container" align="center">
  <figure class="figure">
    <img src="{{ url_for('static', filename='images/pressure_pipe_01.png') }}"
         class="figure-img img-fluid rounded"
         alt="setting">
    <figcaption class="figure-caption">Reservoir setup</figcaption>
  </figure>
</div>

The roughness of the pipes is defined by the \(k\) and the kinematic viscosity by \(\nu\).
The entry loss to the pipe system is given by \(\zeta_{entry}\).

$$
%\begin{align}
%h_A &= 360\:\mathrm{m.a.s.l.} \\
%h_B &= 197.20\:\mathrm{m.a.s.l.} \\
%h_{II} &= 231.60\:\mathrm{m.a.s.l.} \\
%h_{III} &= 260.50\:\mathrm{m.a.s.l.} \\
%h_{VI} &= 210.45\:\mathrm{m.a.s.l.} \\
%l_{I,II} &= 280\:\mathrm{m} \\
%l_{II,III} &= 150\:\mathrm{m} \\
%l_{III,VI} &= 350\:\mathrm{m} \\
%k &= 0.3\:\mathrm{mm} \\
%\zeta_{entry} &= 0.5\\
%\nu &= 1.3\cdot10^{-6}\:\mathrm{m^2/s} \\
%\end{align}
$$
{% endblock %}

{% block solution %}
{% include "problems/pressure_pipe_01_solution.html" ignore missing with context %}
{% endblock %}
