{% extends "problem.html" %}

{% block title %}Druckabfluss zwischen 2 Behältern{% endblock %}

{% block description %}
 Das Problem beschäftigt sich mit dem Druckabfluss zwischen zwei miteinander verbundenen Behältern, deren Rohurchmesser und Wasserspiegel variabel sind. 
 Hier können der Einfluss der verschiedenen Variablen auf den Volumenfluss und den Druckabfall iuntersucht werden. <br>
 Der Rauheitsbeiwert des Rohrs \(k\), die kinematische Viskosität des Wassers \(\nu\) und der Einlaufwiderstandsbeiwert \(\zeta_{Einlauf}\) verbleiben hierbei konstant.
{% endblock %}

{% block solution %}
{% include "problems/pressure_pipe_02_solution.html" ignore missing with context %}
{% endblock %}
